<form class="example-form">
  <h2 mat-dialog-title>新建项目</h2>
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="项目名称" type="text">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="项目标书" type="text"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="button" (click)="onClick()">保存</button>
    <button mat-button mat-dialog-close type="button">关闭</button>
  </div>
</form>
