
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
  width: 100%;
}


form{
  flex:0 0 500px;
}

:host{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

mat-card{
  flex:0 0 200px;
}

.text-right{
  text-align: right
}
  

