<mat-nav-list role="list">
    <h3 mat-subheader>项目</h3>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon style="align-self: flex-start;">laptop</mat-icon>
      <span mat-line>项目首页</span>
      <span mat-line mat-subheader>查看你的所有项目</span>
    </mat-list-item>
    <h3 mat-subheader>日历</h3>
    <mat-list-item role="listitem">
        <mat-icon mat-list-icon>date_range</mat-icon>
        <span mat-line>月视图</span>
    </mat-list-item>
    <mat-list-item role="listitem">
        <mat-icon mat-list-icon>date_range</mat-icon>
        <span mat-line>周视图</span>
    </mat-list-item>
    <mat-list-item role="listitem">
        <mat-icon mat-list-icon>date_range</mat-icon>
        <span mat-line>日视图</span>
    </mat-list-item>
</mat-nav-list>
